.discard-pile {
  position: relative;
  width: 300px;
  height: 203px;
  display: block;
  margin-bottom: 47px;
  border-radius: 15px;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed #000;
    border-radius: 15px;
  }
}
