.dev-info-box {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background-color: var(--secondary-bg);
  color: var(--text-color);
  border: 2px solid var(--primary-accent);
  border-radius: 5px;
  padding: 10px;
  width: auto;
}

.dev-info-tables {
  display: flex;
  justify-content: space-between;
}

.dev-info-table-wrapper {
  margin-right: 10px;
}

.dev-info-box table {
  width: 100%;
  border-collapse: collapse;
}

.dev-info-box th, .dev-info-box td {
  padding: 5px;
  border-bottom: 1px solid var(--primary-accent);
  text-align: left;
}

.dev-info-box th {
  background-color: var(--primary-bg);
}

.dev-info-box tr:last-child th, .dev-info-box tr:last-child td {
  border-bottom: none;
}
