main {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
}

.cards-wrapper-outer {
  height: calc(100svh - 75px);
  display: flex;
  align-items: center;
    justify-content: center;

}

.cards-wrapper-inner {
  margin: 20px 0;
}

