main {
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-width: 500px;
  overflow: hidden;
  margin: 0 auto;
}

