main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  padding-top: 70px; /* Space for the fixed top bar */
  max-width: 100vw;
  overflow: hidden;
}

