:root {
  --primary-bg: #2B303A;
  --primary-accent: #9A3324;
  --secondary-accent: #AC9153;
  --tertiary-accent: #396C56;
  --text-color: #F4ECE6;
  --top-bar-bg: #1A1D26;
}

body {
  background-color: var(--primary-bg);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
